.contracts-list-container{
  &__container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__options{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2em 0 2em 0;
  }
}