.description{
  margin: 1em;
  border: 1px solid lightskyblue;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  &__header{
    background-color: #0E387A;
    padding: 1em;
    color: white;
  }
  &__container{
    display: flex;
  }
  &__content-container{
    width: 100%;
    position:relative;
  }
  &__content{
    margin: 0 1em 0 1em;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.imageDisplay{
  &__container{
    width: 500px;
  }
  &__image{
    width: 500px;
    max-height: 500px;
    object-fit: cover;
    background-size: 100%;
  }
}
