.title-bar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #0E387A;
  &__logo{
    left: 1em;
    top:auto;
    bottom: auto;
    max-height: 3em;
    width: auto;
    border-radius: 10px;
    margin-left: 1em;
  }
  &__title{
    color: white;
    font-size: 20px;
    margin-left: 1em;
  }
}