.insurance-sub {
  text-align: center;
  &__title{
    color: #0074D9;
    font-size: 30px;
  }
  &__item {
    width: 30%;
    margin: 2em auto;
    &--select {
      text-align: left;
    }
  }
  &__constraints-message{
    color: red;
    margin: 1em 0 1em 0;
  }
  &__rightHolders-title{
    margin-top: 1em;
    font-size: 20px;
    color: #0074D9;
  }
  &__rightHolders-item{
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__rightHolders-name{
    margin-top: auto;
    margin-bottom: auto;
  }
}