.employee-login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  &__container{
    width: 40%;
  }
  &__languages-selector{
    text-align: center;
    margin-top: 1em;
  }
}