.row-button{
  &__container{
    margin: 0 1em 1em 1em;
  }
  &__btn{
    margin-left: 3em;
    border-radius: 20px;
    padding: 1em;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    cursor: pointer;
  }
  &__title{
    margin-left: 2em;
  }
}