.square-button{
  &__container{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    margin-right: 20px;
    text-decoration: none;
    margin-bottom: 20px;
    &:hover {
      color: #FFFFFF;
    }
  }
  &__text{
    border-radius: 20px;
    width: 150px;
    height: 150px;
    color: white;
    background-color: #0e4ca4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    text-align: center;
    transition: 0.3s;
    &:hover {
      opacity: 0.8;
    }
  }
}