.desktop{
  display: flex;
  overflow-x: hidden;
  max-width: 100%;
  min-height: 100vh;
  &__left-container{
    flex: 1 0 19%;
    border-right: 1px solid #ccc;
    background-color: #0E387A;
  }
  &__right-container{
    flex: 1 0 80%;
  }
}