.client-contract-details{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: lightgray;
  padding-bottom: 1em;
  &__container{
    margin-top: 2em;
    width: 80%;
    border-radius: 10px;
    background-color: white;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding: 1em;
  }
}