.forbidden{
  &__container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/images/plage-fete.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  &__title{
    font-size: 4em;
  }
  &__text{
    margin-top: 1em;
    font-size: 2em;
  }
}