.desktop{
  display: flex;
  overflow-x: hidden;
  max-width: 100%;
  min-height: 100vh;
  &__username{
    color: white;
  }
  &__left-container{
    flex: 1 0 19%;
    border-right: 1px solid #ccc;
    background-color: #0E387A;
  }
  &__right-container{
    flex: 1 0 80%;
    &--scrollable{
      overflow: auto;
    }
  }
  &__title{
    margin-left: 1em;
    color: #0E387A;
  }
  &__error{
    width: 100%;
    margin-left: 1em;
  }
  &__insurances {
    margin-left: 2em;
  }
  &--scroll-disabled {
    overflow-y: hidden;
  }
}

.desktop-left{
  margin-left: 1em;
  &__avatar{
    margin: 1em 0 5px 1em;
  }
}

.document{
  margin-left: 1em;
  &__timeline{
    color: #9db7da;
    margin: 0;
  }
  &__description{
    font-size: smaller;
    margin-top: 1em;
  }
  &__title{
    margin: 0;
  }
}

.Button:hover{
  color: grey;
}