.app_container {
  display: flex;
  height: 100vh;

  &__image-container{
    position: relative;
    flex: 1 0 70%;
  }

  &__background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("./assets/images/plage-fete.jpg");
    opacity: 0.8;
    filter: blur(8px) brightness(0.5);
    -webkit-filter: blur(8px) brightness(0.5);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  &__image-title {
    position: absolute;
    height: fit-content;
    text-transform: uppercase;
    margin: 35vh 0 2em 10vh;
    font-size: 3em;
    color: white;
    width: 70%;
  }
  
  &__image-button {
    margin: 2em 0 0 0;
    &-text {
      margin: 5px 2em 5px 2em;
      color: #ffffff;
    }
  }

  &__title {
    color: #0E387A;
    margin-bottom: 1em;
    text-transform: uppercase;
  }

  &__authentication-block {
    margin-top: 20vh;
    flex: 1 0 30%;
    background: #fff;
  }

  &__authentication-container {
    padding: 2em;
    text-align: center;
  }
}