.requests-list-container{
  &__options{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2em 0 2em 0;
  }
  &__error{
    text-align: center;
    color: red;
  }
}