.contracts-list{
  margin: 2em 2em 2em 2em;
  &__title{
    text-align: center;
  }
  &__image-button {
    margin: 2em 0 0 0;
    text-align: center;
    &-text {
      margin: 5px 2em 5px 2em;
      color: #ffffff;
    }
  }
}