.assistance-form{
  &__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__item{
    width: 80%;
    margin: 1em 0 1em 0;
    &--button{
      text-align: center;
    }
  }
  &__error{
    color: red;
  }
}