.signup-container{
  width:50%;
  margin:auto;
}

.signup{
  &__container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    &--second-page{
      height: 75vh;
    }
  }
  &__item{
    margin-top: 1em;
  }
  &__password{
    display: block;
    margin: 1em 0 1em 0;
  }
  &__centered-btn{
    margin-top: 1em;
    text-align: center;
    width:25%;
  }
  &__text-container{
    color: white;
    margin: 10px;
  }
  &__error-message{
    text-align: center;
    color: red;
  }
}