.contract-details{
  &__item{
    margin-top: 1em;
    &--inline{
      display: flex;
      flex-wrap: wrap;
    }
    &--last-item{
      margin-bottom: 1em;
    }
  }
  &__second-item{
    margin-left: 1em;
  }
}

.contract-details-table{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1em;
  &__container{
    width: fit-content;
  }
}